.listing-item-main-shop-manager {
  width: 220px;
  height: 310px;
}

.listing-item-main-shop-manager > .listing-info {
  height: 100%;
}

.listing-item-main-shop-manager > .cover-image {
  width: 100%;
  height: 200%;
  margin: auto;
}
