.shop-manager {
  display: flex;
  width: 100%;
}

.shop-manager-sidebar {
  background: white;
  border-right: 1px solid var(--border);
  padding: 25px;
  height: 100%;
  width: 175px;
  position: fixed;
}

.shop-manager-sidebar h3 {
  border-bottom: 1px solid var(--border);
  padding-bottom: 4px;
}

.shop-manager-sidebar a {
  color: var(--orange);
  text-decoration: none;
}

.shop-manager-sidebar a:hover {
  text-decoration: underline;
}

.shop-manager-content-container {
  width: 100%;
  margin-left: 225px;
}

// ---

.shop-manager-listings-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  background: white;
  margin-top: 0;
  padding: 0px 15px;
  border-bottom: 1px solid var(--border);
}

.shop-manager-listings-header > a {
  margin: auto 0;
  margin-right: 20px;
  border-radius: 5px;
  text-decoration: none;
  background: var(--orange);
  padding: 15px;
  color: white;
  transition: 0.25s;
}
.shop-manager-listings-header > a:hover {
  transition: 0.25s;
  background: var(--light-orange);
}
