.sub {
  display: flex;
  margin: auto;
}

.listing-item-main-sub {
  width: 110px;
  height: 90px;
}
a.listing-item-main-sub {
  font-size: 20px;
  text-decoration: none;
}
a.listing-item-main-sub > h3:first-child {
  margin-bottom: 0;
}
a.listing-item-main-sub > h3:last-child {
  margin-top: 0;
}

.listing-item-main-sub > .cover-image {
  width: 80%;
  height: 80%;
  border-radius: 4px;
  margin: auto;
}
