/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

button,
input,
textarea {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: var(--background);
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.app {
  min-height: calc(100vh - 200px);
}

:root {
  --background: #fffbfa;
  --background-dark: #ffeceb;
  --border-dark: #888888;
  --border: #cccccc;
  --border-light: #eeeeee;

  --red: #ed524a;
  --light-red: #f28d8d;
  --super-light-red: #fad2d1;

  --light-orange: #f59942;
  --orange:  #f27426;
  --dark-orange:  #f35c16;

  --blue: #6c98ea;

  --dark-gray: #2b2d31;
  --gray: #51555c;
  --light-gray: #706b6b;
  --super-light-gray: #a09d9c;
  --super-duper-light-gray: #eeeeee;
}
