.cart {
  width: 55%;
  min-width: 700px;
  margin: auto;
}

.cart-main {
  background: white;
  border: 1px solid var(--border);
  padding: 15px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.checkout {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
.checkout * {
  margin: 5px auto;
}

.checkout button {
  background:var(--orange);
  border-radius: 3px;
  border: 0px;

  color: white;
  font-size: 16px;
  width: 260px;
  height: 40px;

  display: block;
}
.checkout button:hover {
  cursor: pointer;
  background:var(--light-orange);
}
