.cover-image {
  width: 100px;
  height: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.light {
  color: var(--light-gray);
}
.super-light {
  color: var(--super-light-gray);
}

.center-content {
  margin: auto;
}
