.featured {
  margin: auto;
  width: 90%;
  height: 300px;
}

.featured > .cover-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3d/Starkman_Building_Los_Angeles.JPG");
  width: 100%;
  height: 100%;
}
