[class^="cover-image"] {
  width: 100px;
  height: 100px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cover-image-circle {
  border-radius: 500px;
}

.light {
  color: var(--light-gray);
}
.super-light {
  color: var(--super-light-gray);
}

.center-content {
  margin: auto;
}

// ---

.clear-button,
.orange-button {
  border-radius: 3px;
  border: 0px;

  font-size: 16px;
  width: 260px;
  height: 40px;

  display: block;
  margin: 0 auto;
}

.clear-button {
  background: white;
  border: 1px solid var(--border);
  color: var(--dark-gray);
}
.orange-button {
  background: var(--orange);
  border: 1px solid var(--orange);
  color: white;
}

.clear-button:hover {
  background: var(--super-duper-light-gray);
  cursor: pointer;
}

.orange-button:hover {
  background: var(--light-orange);
  cursor: pointer;
}

// ---

$border: 0px;
$size: 20px;

#heart-shape{
  position: relative;

  width: $size;
  height: $size;
  transform: rotate(45deg);

  border: $border solid black;
  border-radius: $size/50;
  border-left-color: transparent;
  border-top-color: transparent;

  background: var(--red);
}
#heart-shape:before,
#heart-shape:after{
  content: '';
  position: absolute;

  width: $size;
  height: $size;
  border-radius: 50%;

  border: $border solid black;
  border-bottom-color: transparent;
  border-right-color: transparent;

  background: var(--red);
}
#heart-shape:after{
  top: -$size/2;
  right: -$border;
  transform: rotate(45deg);
}
#heart-shape:before{
  bottom: -$border;
  left: -$size/2;
  transform: rotate(-45deg);
}
