.header {
  display: flex;

  width: 100%;
  height: 70px;

  background: white;

  border-bottom: 1px solid var(--border);
  margin-bottom: 15px;

  font-family: sans-serif;
}

.header-contents{
  margin: auto;
  width: 95%;

  display: flex;
  justify-content: space-between;

}

// ---

.header-left {
  display: flex;
}

.header-left > a {
  font-family: serif;
  color: var(--orange);
  font-size: 38px;
  text-decoration: inherit;

  margin: auto;
  padding-left: 20px;
}

// ---

.search-bar {
  display: flex;
  margin: auto;
  width: 60%;
  min-width: 400px;
  height: 50px;
}
.search-bar form {
  margin: auto;
  width: 500px;
}

.search-bar input {
  font-size: 14px;
  padding: 8px;
}

.search-bar input:first-child {
  width: 60%;
  font-size: 14px;
  outline: none;

  background: var(--background);
  border: 1px solid var(--border);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar input:first-child:focus {
  background: white;
  border: 1px solid var(--border-dark);
}

.search-bar input:last-child {
  padding-left: 16px;
  padding-right: 16px;
  background: var(--orange);
  border: 1px solid var(--orange);

  color: white;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-bar input:last-child:hover {
  background: var(--light-orange);
  border: 1px solid var(--light-orange);
}

.search-bar input:last-child:hover {
  cursor: pointer;
}

// ---


.header-right {
  display: flex;
  padding-right: 50px;
}

.orange-clear-button {
  background: white;
  margin: auto;
  margin-left: 10px;

  text-decoration: none;
  color: var(--orange);
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  padding: 8px;

  border: 1px solid var(--orange);
  border-radius: 5px;
}
.orange-clear-button:hover {
  cursor: pointer;
  background: var(--background);
}


.orange-link {
  margin: auto;
  text-decoration: none;
  color: var(--orange);
}
.orange-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
