.listing-show-shop {
  display: flex;
}

.shop-profile-image {
  border-radius: 2px;
  width: 100px;
  height: 100px;
}

// ---

.listing-show-info {
  background: white;
  border-radius: 2px;
}

.listing-show-image-main {
  border-radius: 2px;
  width: 450px;
  height: 600px;
}

.listing-show-info-sub {
  display: flex;
}
