.sub {
  display: flex;
  margin: auto;
}

[class^="listing-index"] > h2 {
  text-align: center;
}

[class^="listing-item-container"] {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: auto;

  margin-top: 25px;
}

.listing-item-container-show {
  width: 400px;
}

.listing-index-cart {
  width: 100%;
  border-right: 1px solid var(--border);
}
.listing-item-container-cart {
  flex-direction: column;
  width: 80%;
  padding-left: 0px;
}
.listing-item-container-cart .shop {
  display: flex;
}
.listing-item-container-cart .shop .cover-image {
  border-radius: 3px;
  margin-right: 5px;
  width: 50px;
  min-width: 50px;
  height: 50px;
}

// ---

[class^="listing-item-main"] {
  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 200px;
  height: 200px;

  font-size: 12px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #333333;

  margin-left: 15px;
  margin-bottom: 15px;

  transition: box-shadow 0.5s;
}
.listing-item-main-show {
  width: 180px;
  height: 180px;
}
.listing-item-main-shop {
  width: 280px;
  height: 280px;
}
.listing-item-main-sub {
  width: 110px;
  height: 90px;
}
a.listing-item-main-sub {
  font-size: 20px;
  text-decoration: none;
}
a.listing-item-main-sub > h3:first-child {
  margin-bottom: 0;
}
a.listing-item-main-sub > h3:last-child {
  margin-top: 0;
}
.listing-item-main-shop-manager {
  width: 220px;
  height: 310px;
}
.listing-item-main-index {
  width: 310px;
  height: 360px;
}
.listing-item-main-cart {
  flex-direction: row;
  margin-left: 0;

  width: 100%;
  height: 220px;
  border: none;
  background: none;
}

[class^="listing-item-main"]:hover {
  transition: box-shadow 0.5s;
  box-shadow: 0px 3px 20px rgba(16, 9, 26, 0.5);
}
.listing-item-main-cart:hover {
  transition: none;
  box-shadow: none;
}

[class^="listing-item-main"] > .listing-info > div {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
[class^="listing-item-main"] > .listing-info > div * {
  margin: 3px 0px;
  color: #777777;
}
[class^="listing-item-main"] > .listing-info > div > h3 {
  margin: 3px 0px;
  color: black;
}
.listing-item-main-cart > .listing-info > div {
  display: flex;
  justify-content: space-around;

  margin-left: 20px;
  width: 100%;
  height: 75%;
}
.listing-item-main-cart .shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listing-item-main-cart .shop > a {
  margin: auto;
  margin-left: 5px;
  text-decoration: none;
}
.listing-item-main-cart .shop > a:hover {
  text-decoration: underline;
}

.listing-item-main-shop-manager > .listing-info {
  height: 100%;
}

.listing-item-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
}

.listing-item-section > p {
  padding: 0;
  margin: 0;
}
.listing-item-section > h3 {
  padding: 0;
  margin: 0;
}

// ---

[class^="listing-item-main"] > .cover-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 80%;
}
.listing-item-main-show > .cover-image {

}
.listing-item-main-sub > .cover-image {
  width: 80%;
  height: 80%;
  border-radius: 4px;
  margin: auto;
}
.listing-item-main-shop-manager > .cover-image {
  width: 100%;
  height: 200%;
  margin: auto;
}
.listing-item-main-cart > .cover-image {
  width: 200px;
  min-width: 200px;
  height: 200px;
  border-radius: 4px;
}
