.shop-show {
  display: flex;
  flex-direction: column;
  margin: auto;
}

// ---

.shop-show > .shop-banner {
  width: 100%;
  height: 375px;
  display: flex;
  margin-bottom: 15px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.shop-show > .shop-banner > h2 {
  margin: auto;
}

// ---

.shop-show > .shop-info {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;

  width: 80%;

}

.shop-info-personal-container {
  display: flex;
  background: green;
}

.shop-info-personal-container .cover-image {
  width: 200px;
  min-width: 200px;
  height: 200px;
}


.shop-info-personal {
  display: flex;
  flex-direction: column;
  background: pink;
  margin-left: 15px;
  width: 50%;
  min-width: 450px;
  height: 50%;
}

.shop-info-personal-sub {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;

}

.shop-owner-profile {
  display: flex;
  flex-direction: column;
}

.shop-owner-profile > .cover-image {
  border-radius: 500px;
  border: 1px solid var(--border);
  width: 100px;
  min-width: 100px;
  height: 100px;
}

// ---

.shop-reel {
  background: #e0e7f0;
  margin-top: 15px;
  height: 50px;
  width: 100%;
}
