.shop-show {
  display: flex;
  flex-direction: column;
  margin: auto;
}

// ---

.shop-show > .shop-banner {
  width: 100%;
  height: 375px;
  display: flex;
  margin-bottom: 15px;
}

.shop-show > .shop-banner > h2 {
  margin: auto;
}

// ---

.shop-show > .shop-info {
  background: green;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;

  width: 80%;
}

.cover-image {
  width: 200px;
  height: 200px;
}

.shop-info-personal-container {
  display: flex;
  background: green;
}

.shop-info-personal {
  display: flex;
  flex-direction: column;

  height: 50%;
}

.shop-info-personal-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
}

.shop-owner-profile {
  display: flex;
  flex-direction: column;
}

.shop-owner-profile > img {
  border-radius: 500px;
  width: 100px;
  height: 100px;
}

// ---

.shop-reel {
  background: #e0e7f0;
  margin-top: 15px;
  height: 50px;
  width: 100%;
}
