<!DOCTYPE html>
<html>
  <head>
    <title>Shmetsy</title>
    <link rel="icon" href="https://s3.us-east-2.amazonaws.com/shmetsy-seeds/shmetsy.png">
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
